<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}" defer></script>
    <title>VZTA Trails</title>
</head>
<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <!--    page content goes here-->
        <form th:method="post" th:action="@{/login}" class="container">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input name="username" type="text" class="form-control" id="username"/>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input name="password" type="password" class="form-control" id="password"/>
            </div>
            <div class="mb-3">
                <input type="submit" value="Sign In" class="btn btn-primary"/>
            </div>
        </form>
        <div>
            <span> <p>Don't have an account?</p> <a th:href="@{/registration}">Register</a></span>
        </div>


    </div>
</div>
</body>
</html>