<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:replace="~{/fragments/header :: bootstrap-css}"/>
  <link th:replace="~{/fragments/header :: mainstyles}"/>
  <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
  <script th:src="@{/scripts/dark-mode.js}" defer></script>
  <title>VZTA Trails</title>
</head>
<body>
<div class="main-container">
  <header th:replace="~{/fragments/header :: navbar}"></header>
  <div class="page-container">

    <!--    page content goes here-->
    <h1>Login Error</h1>

  </div>
</div>
</body>
</html>