<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <link rel="stylesheet" href="/stylesheets/leaderboardstyles.css">
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}" defer></script>
    <title>VZTA Trails</title>
</head>


<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <h1>Leaderboard</h1>
        <p> You can view the checkpoint leaderboard here.</p>
        <br>

        <div class="filters">
            <div class="item">
                <label for="sort">Search user:</label>
                <input type="text" id="searchbar" onkeyup="filterTable()" placeholder="Username...">
            </div>
            <div class="item">
                <label for="sort">Sort by:</label>
                <select id="sort" onchange="sortTable()">
                    <option value="position">Position</option>
                    <option value="username">Username</option>
                </select>
            </div>


        </div>

        <br>

        <table id="leaderboardTable">
            <thead>
            <tr>
                <th>Position</th>
                <th>Username</th>
                <th>Checkpoints</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${leaderboard}">
                <td th:text="${user.position}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.count}"></td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
<script src="/scripts/leaderboardScripts.js"></script>

</body>
</html>