<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <title>VZTA Trails</title>
</head>
<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <main>


            <table>
                <tbody>

                <p><strong>username: </strong><span th:text="${user.username}"></span></p>
                <p><strong>username: </strong><span th:text="${user.user}"></span></p>

                <p><strong>medalName: </strong><span th:text="${medal.medalName}"></span></p>
                <p><strong>medalDescription: </strong><span th:text="${medal.medalDescription}"></span></p>
                <p><strong>checkpointsSum: </strong><span th:text="${medal.checkpointsSum}"></span></p>

                <p><strong>medalId: </strong><span th:text="${medal.medalId}"></span></p>
                </tbody>
            </table>

        </main>
    </div>
</div>
</body>
</html>