<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../static/scripts/progressScript.js"></script>

    <meta charset="UTF-8">
    <title>Medals</title>

    <div id="title">Trail 1</div>
    <div id="status">Status: Incomplete</div>
    <div id="outerBar">
        <div id="progressBar"></div>
    </div>
    <input id="completed" type="number" placeholder="input how much done" min="0" max="100">
    <button id="confirmButton" onclick="newProgress()">Press here!</button>
<!--    <div class="medalBox">-->
<!--        <div class="flex-medal">-->

<!--            <div id="trophy">-->
<!--                <img src=""><img src="../../Images/trophy.jpg" height="50" width="50"/>Trophy 1-->
<!--            </div>-->
<!--        <div class="flex-medal">medal2</div>-->

<!--        </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="flex-container">
        <div class="flex-item">
            <div id="halfDoneTrophy">

            <img src=""><img src="../../Images/trophy.jpg" height="50" width="50"/>50% Done! </div>
            <p id="halfDoneText">Locked trophy - 50%</p>
            </div>
        <div class="flex-item">
            <div id="allDoneTrophy">

                <img src=""><img src="../../Images/trophy.jpg" height="50" width="50"/>100% Done! </div>
                <p id="allDoneText">Locked trophy - 100% </p>
        </div>
        </div>
        <div class="flex-item">Box 3</div>
        <div class="flex-item">Box 4</div>
    </div>



    <link rel="stylesheet" href="../../static/stylesheets/medalsTestcss.css">
</head>
<body>

</body>
</html>