body.dark-mode,
body.dark-mode .header,
body.dark-mode .checkpoints-container,
body.dark-mode .login-page,
body.dark-mode .registration-page,
body.dark-mode .leaderboard-page,
body.dark-mode .page-container,
body.dark-mode button {
    background-color: #1a1a1a;
    color: white;
}

body.dark-mode .page-container {
    background-color: #2d2d2d;
    color: #c0c0c0;
}

body.dark-mode button {
    background-color: #404040;
    color: #ffffff;
}
