table {
    width: 60%;
    justify-content: center;
    margin-inline: auto;
    border: 0.3rem solid var(--background-colour);
    border-radius: 0.2rem;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

