
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

#title{
    text-align: left;
    justify-content: center;
    font-family: 'Arial';
    font-size: x-large;

}
#status{
    font-family: 'Arial';
    font-size: medium;
}

#outerBar {
    width: 100%;
    background-color: blue;
    padding: 0px;
    border-radius: 20px;
}

#progressBar {
    height: 20px;
    width: 0%;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 20px;
    animation: progress 0.4s ease-in-out forwards;
    font-family: Arial;
}

#confirmButton {
    background: #6d756f;
    border-radius: 10px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: white;
    padding: 10px 10px;
    border: 4px;

}