<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <title>VZTA Trails</title>
</head>
<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">
        <h1>Home Page</h1>
        <!--    page content goes here-->
        <a th:href="@{/test}">Generate Test Users and Trails</a>

    </div>
</div>
</body>
</html>