<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{/fragments/header :: bootstrap-css}"/>
    <link th:replace="~{/fragments/header :: mainstyles}"/>
    <link rel="stylesheet" href="/stylesheets/trails.css">
    <link rel="stylesheet" th:href="@{/stylesheets/dark-mode.css}"/>
    <script th:src="@{/scripts/dark-mode.js}" defer></script>
    <title>VZTA Trails</title>
</head>


<body>
<div class="main-container">
    <header th:replace="~{/fragments/header :: navbar}"></header>
    <div class="page-container">

        <main>
            <h1>Trails</h1>
            <p> You can view all the available trails here.</p>
            <br>


            <div class="trail-container">

                <ul class="trail-list">
                    <div class="trail-details" th:each="trail: ${trails}">

                        <div class="trail-picture">
                            <a class="trail-image-container" href="../../static/images/trail1Placeholder.jpg">
                                <img class="trail-image" src="/Images/trail1Placeholder.jpg"
                                     alt="picture outlining the trail">
                            </a>
                        </div>

                        <li>
                            <p><strong>Trail Name: </strong><span th:text="${trail.name}"></span></p>
                            <!--                            <p><strong>ID: </strong><span th:text="${trail.id}"></span></p>-->
                            <p><strong>Location: </strong><span th:text="${trail.location}"></span></p>
                            <p><strong>Description: </strong><span th:text="${trail.description}"></span></p>
                            <p><strong>Starting Checkpoint: </strong><span
                                    th:text="${trail.checkpoints[0].name}"></span></p>
                            <p><a th:href="@{/trails/{id} (id=${trail.id})}" th:text="Details" class="details"></a></p>
                            <br>
                        </li>
                    </div>
                </ul>

            </div>


        </main>
    </div>
</div>
</body>
</html>